<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CandidateTest</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-Bp6E7bj7qW6E4bJ8aRJ036h6WbQ3rWi9JqU9uBbX8b2ycjfd7uY1+7X5vz5sddVjlkB2lRcuOusnQ9215X6s8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js" integrity="sha512-xvcxVQMQhtdYXYzGcJg1dxoMO8D7U0Sk1w7xV5zr0spG5q3qwzS7YmNXYvH7x5cP6ZW9vO+u8qeU4CoRsZJ9Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.1/min/vs/loader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/framer-motion@11.1.0/dist/framer-motion.umd.min.js"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-maroon to-gray-100 text-gray-800">
    <div class="container mx-auto py-8">
        @RenderBody()
    </div>
</body>
</html>
